<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="/loginuser" method="GET">
        <button type="submit">back</button>
    </form>
    
    <br>
    
    <form action="/register-user" method="POST">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        
        <label for="password">pin</label>
        <input type="password" name="pin" id="pin">
        <input type="submit" name="register">
    </form>
    <p>after singingUp click back and login</p>
</body>
</html>