body{
    /* background-color: black; */
    /* color: aliceblue; */
}
.heading{
    height: 20px;
    /* color: white; */
}
.grid{
    display: grid;
    background-color: rgb(24, 19, 19);
    /* height: 2rem; */
    color: aliceblue;
}
.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.di{
display: inline-block;
background-color: aliceblue;
color: black;
width:30px;
margin-top: 3px;
border: 1px green;
/* float: left; */
}